Repository linode/docs, pull requests merged in 2024-07, with the labels that each got.

#7019 [NEW] Leveraging Kubernetes Data-oriented Projects with Portworx
  ci/vale/dictionary.txt
  docs/guides/kubernetes/leverage-kubernetes-data-oriented-projects-with-portworx/index.md
  docs/guides/kubernetes/leverage-kubernetes-data-oriented-projects-with-portworx/portworx-generate-spec.png
  docs/guides/kubernetes/leverage-kubernetes-data-oriented-projects-with-portworx/portworx-product-line.png
  docs/guides/kubernetes/leverage-kubernetes-data-oriented-projects-with-portworx/portworx-save-spec.png
  docs/guides/kubernetes/leverage-kubernetes-data-oriented-projects-with-portworx/portworx-spec-list-download.png
  docs/guides/kubernetes/leverage-kubernetes-data-oriented-projects-with-portworx/welcome-to-portworx.png
Labels: Ready

#7031 [Update] LKE > Overview
  docs/products/compute/kubernetes/_index.md
Labels: Product Documentation

#7034 [Update] An Overview of IPv6 on Linode
  docs/products/compute/compute-instances/guides/ipv6/index.md
Labels: Ready, Product Documentation

#7018 Fix to modified date and concept clarification
  docs/products/compute/compute-instances/_index.md
  docs/products/compute/compute-instances/developers/index.md
  docs/products/compute/compute-instances/get-started/index.md
  docs/products/compute/compute-instances/guides/_index.md
  docs/products/compute/compute-instances/guides/placement-groups/index.md
  docs/products/compute/compute-instances/resources/index.md
Labels: Updated Guide, Ready, Product Documentation

#7030 [Updated] An Overview of the Cloud Manager
  docs/guides/akamai/get-started/create-a-simple-microsite/index.md
  docs/guides/platform/manager/_shortguides/cloud-email-notifications-shortguide/classic-to-cloud-cloud-manager-email-notifications.png
  docs/guides/platform/manager/_shortguides/cloud-email-notifications-shortguide/index.md
  docs/guides/platform/manager/an-overview-of-the-cloud-manager/classic-to-cloud-dark-mode.png
  docs/products/platform/get-started/_index.md
  docs/products/tools/cloud-manager/_shortguides/accounts-change-email-shortguide/accounts-my-profile-change-email.png
  docs/products/tools/cloud-manager/_shortguides/accounts-change-email-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/accounts-reset-root-password-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-api-keys-shortguide/classic-to-cloud-add-a-personal-access-token-panel.png
  docs/products/tools/cloud-manager/_shortguides/cloud-api-keys-shortguide/classic-to-cloud-add-a-personal-access-token.png
  docs/products/tools/cloud-manager/_shortguides/cloud-api-keys-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-credits-shortguide/classic-to-cloud-credits-applied.png
  docs/products/tools/cloud-manager/_shortguides/cloud-credits-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-delete-ip-shortguide/classic-to-cloud-delete-an-ip.bak
  docs/products/tools/cloud-manager/_shortguides/cloud-delete-ip-shortguide/classic-to-cloud-delete-an-ip.png
  docs/products/tools/cloud-manager/_shortguides/cloud-delete-ip-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-disks-shortguide/classic-to-cloud-cloud-manager-disks.png
  docs/products/tools/cloud-manager/_shortguides/cloud-disks-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-domains-shortguide/classic-to-cloud-cloud-manager-domains.bak
  docs/products/tools/cloud-manager/_shortguides/cloud-domains-shortguide/classic-to-cloud-cloud-manager-domains.png
  docs/products/tools/cloud-manager/_shortguides/cloud-domains-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-images-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-invoices-shortguide/classic-to-cloud-download-invoice-from-detail.png
  docs/products/tools/cloud-manager/_shortguides/cloud-invoices-shortguide/classic-to-cloud-download-invoice-from-list.png
  docs/products/tools/cloud-manager/_shortguides/cloud-invoices-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-kubernetes-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-linodes-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-longview-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-management-and-billing-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-marketplace-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-nodebalancers-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-oauth-apps-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-object-storage-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-reboot-shortguide/classic-to-cloud-manager-linode-detail-reboot-menu.png
  docs/products/tools/cloud-manager/_shortguides/cloud-reboot-shortguide/classic-to-cloud-manager-linode-list-reboot-menu.png
  docs/products/tools/cloud-manager/_shortguides/cloud-reboot-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-stackscripts-shortguide/index.md
  docs/products/tools/cloud-manager/_shortguides/cloud-volumes-shortguide/index.md
  docs/products/tools/cloud-manager/guides/_index.md
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/AnOverviewoftheLinodeCloudManager.png
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/classic-to-cloud-cloud-import-display-groups.png
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/classic-to-cloud-cloud-manager-images.png
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/classic-to-cloud-cloud-manager-stackscripts.png
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/classic-to-cloud-cloud-manager-volumes.png
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/cloud-manager-new-dark.jpg
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/cloud-manager-new-light.jpg
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/cloud-manager-previous-dark.jpg
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/cloud-manager-previous-light.jpg
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/index.md
Labels: Ready, Product Documentation

#6956 IoT Firmware Updates with OBJ and CDN
  docs/guides/akamai/get-started/iot-firmware-upgrades-with-obj-and-cdn/index.md
  docs/guides/akamai/get-started/iot-firmware-upgrades-with-obj-and-cdn/iot-firmware-upgrade-reference-architecture.svg
Labels: Ready

#7016 [UPDATE] Limited Beta for Akamai's New Data Centers
  docs/products/platform/get-started/guides/beta-for-new-data-centers/index.md
Labels: Ready, Product Documentation

#7038 Misc edits
  docs/products/compute/kubernetes/_index.md
  docs/products/tools/cloud-manager/guides/an-overview-of-the-cloud-manager/index.md
Labels: Ready, Product Documentation

#7037 [Fix] Deploy OpenLiteSpeed Django through the Linode Marketplace
  docs/products/tools/marketplace/guides/openlitespeed-django/index.md
Labels: Ready, Product Documentation

#7036 Fix to PG screenshot and process
  docs/products/compute/compute-instances/guides/placement-groups/index.md
  docs/products/compute/compute-instances/guides/placement-groups/pg-added-linode-v2.png
Labels: Ready, Product Documentation

#7043 Remove embedded YouTube videos within product docs
  docs/products/networking/dns-manager/guides/common-dns-configurations/index.md
  docs/products/storage/object-storage/get-started/index.md
  docs/products/tools/marketplace/guides/counter-strike-go/index.md
  docs/products/tools/marketplace/guides/wireguard/index.md
Labels: Ready, Product Documentation

#7039 [UPDATE] VLANs
  docs/products/networking/vlans/_index.md
Labels: Ready, Product Documentation

#7044 Moved several API guides
  docs/guides/security/authentication/create-an-oauth-app-with-the-python-api-library/how-to-create-an-oauth-app-with-the-linode-python-api-library.png
  docs/guides/security/authentication/create-an-oauth-app-with-the-python-api-library/index.md
  docs/guides/security/authentication/create-an-oauth-app-with-the-python-api-library/my_auth_linode.png
  docs/guides/security/authentication/create-an-oauth-app-with-the-python-api-library/oauth-account.png
  docs/guides/security/authentication/create-an-oauth-app-with-the-python-api-library/oauth-client-id.png
  docs/guides/security/authentication/create-an-oauth-app-with-the-python-api-library/oauth-client-secret.png
  docs/guides/security/authentication/create-an-oauth-app-with-the-python-api-library/oauth-create-app.png
  docs/products/networking/nodebalancers/guides/_index.md
  docs/products/networking/nodebalancers/guides/manage-nodebalancers-with-linode-api/configure-nodebalancers-with-the-linode-api.png
  docs/products/networking/nodebalancers/guides/manage-nodebalancers-with-linode-api/index.md
  docs/products/storage/block-storage/guides/_index.md
  docs/products/storage/block-storage/guides/manage-block-storage-with-linode-api/index.md
  docs/products/storage/block-storage/guides/manage-block-storage-with-linode-api/manage-block-storage-volumes-with-the-linode-api.png
  docs/products/tools/api/guides/_index.md
  docs/products/tools/api/guides/create-an-oauth-app-with-the-python-api-library/get-started-with-linode-api-select-my-profile.png
  docs/products/tools/api/guides/upgrade-to-v4/index.md
Labels: Ready, Product Documentation

#7040 [New] Preparing Infrastructure for High-Impact Advertising Traffic on Akamai
  docs/guides/akamai/get-started/preparing-infrastructure-for-high-impact-ad-traffic/high-impact-ad-traffic-architecture-1.jpg
  docs/guides/akamai/get-started/preparing-infrastructure-for-high-impact-ad-traffic/index.md
Labels: Ready

#6974 [NEW] Configure Health Checks for NodeBalancers to Remove Non-Working Backends
  docs/guides/uptime/loadbalancing/configure-health-checks-nodebalancers-remove-nonworking-backends/index.md
  docs/guides/uptime/loadbalancing/configure-health-checks-nodebalancers-remove-nonworking-backends/nginx-default-welcome.png
  docs/guides/uptime/loadbalancing/configure-health-checks-nodebalancers-remove-nonworking-backends/nginx-srv1-welcome.png
  docs/guides/uptime/loadbalancing/configure-health-checks-nodebalancers-remove-nonworking-backends/nodebalancer-configuration-screen.png
  docs/guides/uptime/loadbalancing/configure-health-checks-nodebalancers-remove-nonworking-backends/passive-checks-box.png
  docs/guides/uptime/loadbalancing/configure-health-checks-nodebalancers-remove-nonworking-backends/testbed-network-diagram.png
Labels: Ready

#3966 [NEW] Installing and Securing Memcached on Debian
  docs/guides/databases/memcached/install-and-secure-memcached-on-debian-11-and-ubuntu-2204/index.md
Labels: New Guide, Write For Linode (WFL), Ready

#7054 [Update] LKE > Get Started
  docs/guides/kubernetes/_shortguides/lke-network-firewall-information-shortguide/index.md
  docs/guides/kubernetes/how-to-deploy-a-static-site-on-linode-kubernetes-engine/index.md
  docs/products/compute/kubernetes/get-started/index.md
  docs/products/compute/kubernetes/guides/deploy-and-manage-cluster-with-the-linode-api/index.md
Labels: Ready, Product Documentation

#7055 Cloud manager login method and SSO login note
  docs/products/platform/accounts/guides/2fa/index.md
  docs/products/platform/accounts/guides/2fa/login-provider.png
  docs/products/platform/accounts/guides/2fa/profile-link.png
  docs/products/platform/accounts/guides/2fa/tpa-options.png
  docs/products/platform/accounts/guides/third-party-authentication/confirm-disable-tpa.png
  docs/products/platform/accounts/guides/third-party-authentication/index.md
  docs/products/platform/accounts/guides/third-party-authentication/profile-link.png
  docs/products/platform/accounts/guides/third-party-authentication/tpa-options.png
  docs/products/platform/accounts/guides/user-security-controls/index.md
  docs/products/platform/get-started/_index.md
Labels: Ready, Product Documentation

#7052 [Updated] Deploy a Static Site on Linode Kubernetes Engine
  ci/vale/dictionary.txt
  docs/guides/applications/containers/installing-docker-shortguide/index.md
  docs/guides/kubernetes/how-to-deploy-a-static-site-on-linode-kubernetes-engine/index.md
Labels: Ready

#7042 [UPDATE] Create a Compute Instance
  docs/products/compute/compute-instances/guides/create/create-instance-distribution.jpg
  docs/products/compute/compute-instances/guides/create/index.md
Labels: Ready, Product Documentation

#7061 Reorganize guides
  docs/guides/kubernetes/deploy-lke-cluster-using-pulumi/index.md
  docs/guides/kubernetes/deploy-lke-cluster-using-terraform/deploy-lke-cluster-with-terraform.png
  docs/guides/kubernetes/deploy-lke-cluster-using-terraform/index.md
  docs/guides/platform/disk-images/kvm-reference/config_direct_disk.png
  docs/guides/platform/disk-images/kvm-reference/index.md
  docs/guides/platform/disk-images/kvm-reference/kvm-kernel-error.png
  docs/guides/platform/disk-images/kvm-reference/kvm_upgrade_context.png
  docs/guides/platform/disk-images/tokyo2-migration/index.md
  docs/guides/platform/manager/_index.md
  docs/guides/platform/manager/feature.png
  docs/guides/platform/manager/feature.svg
  docs/guides/platform/manager/members-linode-com-migration/index.md
  docs/guides/platform/manager/members-linode-com-migration/locate-domain-nodebalancer.png
  docs/guides/platform/manager/members-linode-com-migration/locate-rdns-linode.png
  docs/guides/quick-answers/linode-platform/dhcp-ip-address-reference/index.md
  docs/guides/quick-answers/linode-platform/find-your-linodes-ip-address/index.md
  docs/guides/quick-answers/linode-platform/find-your-linodes-ip-address/networking_ips.png
  docs/guides/quick-answers/linode-platform/find-your-linodes-ip-address/view_ip_detail_menu.png
  docs/guides/quick-answers/linode-platform/find-your-linodes-ip-address/view_ip_details.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/custom-distro-configuration-profiles.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/custom-distro-debian-installer.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/custom-distro-disks.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/custom-distro-glish-small.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/custom-distro-glish.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/glish-post-install.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/index.md
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/install-a-custom-distribution-on-a-linode.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/install-custom-distro-glish-console.png
  docs/guides/tools-reference/custom-kernels-distros/install-a-custom-distribution/rescue-mode-assign-disks.png
  docs/products/compute/compute-instances/guides/_index.md
  docs/products/compute/compute-instances/guides/configuration-profiles/index.md
  docs/products/compute/compute-instances/guides/dhcp-ip-address-reference/index.md
  docs/products/compute/compute-instances/guides/manage-ip-addresses/index.md
  docs/products/networking/vpc/guides/_index.md
  docs/products/networking/vpc/guides/forward-proxy-for-vpc/index.md
  docs/products/tools/cloud-manager/_index.md
Labels: Ready

#7059 [Update] Managing IP Addresses on a Compute Instance
  docs/products/compute/compute-instances/guides/manage-ip-addresses/index.md
Labels: Ready

#7058 GA release version for Placement Groups guide
  docs/products/compute/compute-instances/guides/placement-groups/index.md
  docs/products/compute/compute-instances/guides/placement-groups/pg-added-linode-v1.png
  docs/products/platform/get-started/guides/choose-a-data-center/index.md
Labels: Ready, Product Documentation

#7060 [Updated] Explore Docs Menu Maintenance
  docs/guides/akamai/get-started/_index.md
  docs/guides/akamai/get-started/create-a-simple-microsite/activeHealthCheck.png
  docs/guides/akamai/get-started/create-a-simple-microsite/backendNodes.png
  docs/guides/akamai/get-started/create-a-simple-microsite/index.md
  docs/guides/akamai/get-started/create-a-simple-microsite/ionOriginServer-v1.png
  docs/guides/akamai/get-started/create-a-simple-microsite/ionVerifyHostsFileEntry.png
  docs/guides/akamai/get-started/create-a-simple-microsite/marketplace-nodejs.png
  docs/guides/akamai/get-started/create-a-simple-microsite/microsite-diagram.png
  docs/guides/akamai/get-started/create-a-simple-microsite/nodeBalancerDNS.png
  docs/guides/akamai/get-started/create-a-simple-microsite/nodeBalancerIP.png
  docs/guides/akamai/get-started/create-a-simple-microsite/portConfiguration.png
  docs/guides/akamai/get-started/create-a-simple-microsite/testFailover.png
  docs/guides/akamai/solutions/_index.md
  docs/guides/akamai/solutions/distributed-demand-side-platform/dsp-design-diagram.jpg
  docs/guides/akamai/solutions/distributed-demand-side-platform/index.md
  docs/guides/akamai/solutions/feature.png
  docs/guides/akamai/solutions/feature.svg
  docs/guides/akamai/solutions/iot-firmware-upgrades-with-obj-and-cdn/index.md
  docs/guides/akamai/solutions/iot-firmware-upgrades-with-obj-and-cdn/iot-firmware-upgrade-reference-architecture.svg
  docs/guides/akamai/solutions/live-transcoding-ugc-streaming-akamai-cloud-computing/index.md
  docs/guides/akamai/solutions/live-transcoding-ugc-streaming-akamai-cloud-computing/live-streaming-transcoding-design-diagram.jpg
  docs/guides/akamai/solutions/observability-with-datastream-and-multiplexing/Datastream-2-Multiplexing-Workflow.svg
  docs/guides/akamai/solutions/observability-with-datastream-and-multiplexing/Datastream-Multiplexing-Diagram.svg
  docs/guides/akamai/solutions/observability-with-datastream-and-multiplexing/index.md
  docs/guides/akamai/solutions/observability-with-datastream-and-trafficpeak/DataStream-With-TrafficPeak-Diagram.png
  docs/guides/akamai/solutions/observability-with-datastream-and-trafficpeak/index.md
  docs/guides/akamai/solutions/preparing-infrastructure-for-high-impact-ad-traffic/high-impact-ad-traffic-architecture-1.jpg
  docs/guides/akamai/solutions/preparing-infrastructure-for-high-impact-ad-traffic/index.md
  docs/guides/akamai/solutions/vod-transcoding-ott-akamai-cloud-computing/index.md
  docs/guides/akamai/solutions/vod-transcoding-ott-akamai-cloud-computing/vod-design-diagram.jpg
Labels: Ready

#7020 [NEW] How to Use Rook to Orchestrate Distributed Open Source Storage
  ci/vale/dictionary.txt
  docs/guides/kubernetes/use-rook-to-orchestrate-distributed-open-source-storage/index.md
  docs/guides/kubernetes/use-rook-to-orchestrate-distributed-open-source-storage/volume-active.png
Labels: Ready

#7062 Deprecate Linode Block Storage CSI driver guides
  docs/guides/kubernetes/deploy-volumes-with-the-linode-block-storage-csi-driver/index.md
  docs/guides/kubernetes/install-the-linode-block-storage-csi-driver-on-unmanaged-kubernetes/index.md
Labels: Ready
